@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

select {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

button {
  transition: all 0.2s ease;
}
